<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>懋特地图Demo</title>
		<!--47.103.35.78:8081 原测试地址-->
		<!--10.109.75.228:8091 -->
		<!-- 地图 -->
		<link rel="stylesheet" type="text/css" href="http://47.103.35.78:8081/chem/css/map/ol.css" />
		<link rel="stylesheet" type="text/css" href="http://47.103.35.78:8081/chem/css/map/ol3-base_3d.css" />
		<script src="src/config.js"></script>
		<script src="src/src_config.js"></script>
		<!-- <script src="http://10.109.75.228:8091/chem/js/global/jquery-2.1.1.min.js"></script>  -->
		<script src="src/component/jquery/jquery-2.1.1.min.js"></script>
		<!-- <script src="http://10.109.75.228:8091/chem/js/global/bootstrap.js"></script> -->
			
		<!-- 地图
		<script src="http://10.109.75.228:8091/chem/js/map/map/ol-debug.js"></script>
		<script src="src/api_Common.js"></script>
		<script src="http://10.109.75.228:8091/chem/js/map/map/asset_style.js"></script>
		<script src="http://10.109.75.228:8091/chem/js/map/map/asset_init.js"></script>
		<script src="http://10.109.75.228:8091/chem/js/map/map/asset_base_fun.js"></script>
		<script src="src/Motemap.js"></script>
		
		<script src="src/api_PotArea.js"></script>-->
		<script src="src/component/indextab.js"></script>
		
		<!-- <script src="http://10.109.75.228:8091/chem/com/layer/layer.js"></script>  -->
		
			<!--css-->
			<link href="src/component/bootstrap.min.css" rel="stylesheet" />
			<link href="src/component/framework-theme.css" rel="stylesheet" />
			<style>
		.layui-layer{
		background-color: white;
		opacity:0.7;
		color: black;
		font-size: 16px;
		}
				.rightMenu{
					list-style-type: none;
					padding: 0px;
					margin-left:40px;
					position:fixed; bottom:620px; left:0;
				}
				.rightMenu li{
		background-color: white;
		width:  30px !important;
		height: 30px !important;
		line-height: 30px;
		padding: 5px;
				}
				.rightMenu li:hover{
		background-color:skyblue;
		
				}
			</style>
	</head>
<body>

<div id="map">
	<div>
		<button onclick="getBuilding();">获取建筑编号</button>
		<button onclick="getFloor();">获取当前楼层</button>
		<button onclick="getZoom();">获取当前zoom</button>
		<button onclick="getLonLatByClick();">获取经纬度</button>
	</div>
	<div>
		<button onclick="getPOIByType();">根据类型加载POI</button>
		<button onclick="getPOIByMoveon();">POI鼠标移入事件</button>
		<button onclick="getPOIByClick();">POI鼠标单击事件</button>
		<button onclick="getPOIByDblclick();">POI鼠标双击事件</button>
		<button onclick="getAreaByMoveon();">AREA鼠标移入事件</button>
		<button onclick="getAreaByClick();">AREA鼠标单击事件</button>
		<button onclick="getAreaByDblclick();">AREA鼠标双击事件</button>
		<button onclick="getAlphaAreaByMoveon();">透明框鼠标移入事件</button>
		<button onclick="getAlphaAreaByClick();">透明框鼠标单击事件</button>
		<button onclick="getAlphaAreaByDblclick();">透明框鼠标双击事件</button>
		<button onclick="removeFeatureSelsct()">清除选中</button>
		<button onclick="removeMouseEvent()">消除事件</button>
	</div>
	<div>
		<button onclick="clearPotArea();">清空点和面</button>
		<button onclick="drawPot();">标点</button>
		<button onclick="drawPotByCoords();">输入坐标标点</button>
		<button onclick="modifyPot();">修改点</button>
		<button onclick="deletePot();">删除点</button>
		<button onclick="drawArea();">标面</button>
		<button onclick="drawAreaByCoords();">输入坐标标面</button>
		<button onclick="modifyArea();">修改面</button>
		<button onclick="deleteArea();">删除面</button>
		<button onclick="drawAlphaArea();">标透明框</button>
		<button onclick="drawAlphaAreaByCoords();">输入坐标标透明框</button>
		<button onclick="modifyAlphaArea();">修改透明框</button>
		<button onclick="deleteAlphaArea();">删除透明框</button>
	</div>
	<div>
		<button onclick="loadMapByLonLatZoom();">根据坐标和层级加载地图</button>
		<button onclick="loadLocate();">定位点显示</button>
		<button onclick="getLocateByMoveon();">定位点鼠标移入</button>
		<button onclick="loadLocateMsg();">定位点信息展示</button>
		<button onclick="loadTrail();">轨迹回放</button>
		<button onclick="getTrailMsg();">轨迹鼠标事件</button>
		
<button onclick="editFrame();">标透明框（属性自定义）</button>
	</div>

</div>


<!--左边按钮-->
<ul class="leftMenu">
	<li id="tp1">
		可燃有毒气体
	</li>
	<li id="tp2">
		重大危险源
	</li>
	<li id="tp3">
		隐患排查与治理
	</li>
</ul>
<!--js-->
<script src="src/component/template.js"></script>
<script src="src/component/echarts.min.js"></script>
<script src="src/http.js"></script>
<script src="src/component/layui.js" charset="utf-8"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--可燃有毒气体监测图览template模版-->
<script type="text/html" id="templatePosion">
    <ul>
		<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1" data-toggle="tab">基本信息</a></li>
				<li><a href="#tab-2" data-toggle="tab">监测信息</a></li>
				<li><a href="#tab-3" data-toggle="tab">历史报警数据</a></li>
			</ul>
			<div style="padding-top: 20px; margin-right: 30px;">
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<table>
								<tr><td>监测设备名称：</td><td><%= data.equipment.equipmentName %></td></tr>
								<tr><td>监测设备点简称：</td><td><%= data.equipment.shortName %></td></tr>
							</table>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
							<div class="panel-body">
									<table>
										<tr><td>监测点位号：</td><td><%= data.tagName %></td></tr>
										<tr><td>监测点数值：</td><td></td></tr>
									</table>
								</div>
					</div>
					<div id="tab-3" class="tab-pane">
							<div class="panel-body">
									<table>
										<tr><td>上次报警时间：</td><td></td></tr>
										<tr><td>今年报警次数：</td><td></td></tr>
									</table>
								</div>
					</div>
				</div>
			</div>
		</div>
    </ul>
</script>
<!--重大危险源监控图层template模版-->
<script type="text/html" id="templateDanger">

    <ul>
		<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1" data-toggle="tab">基本信息</a></li>
				<li><a href="#tab-2" data-toggle="tab">视频播放</a></li>
			</ul>
			<div style="padding-top: 20px; margin-right: 30px;">
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<table>
								<tr><td>监控名称：</td><td><%= data.cameraName %></td></tr>
								<tr>
									<td>品牌：</td><td><%= data.cameraBrand %></td>
									<td>型号：</td><td><%= data.cameraType %></td>
								</tr>
								<tr><td>用途：</td><td>用途</td></tr>
								<tr><td>监测设备名称：</td><td><%= data.equipment.equipmentName %></td></tr>
							</table>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
						<iframe src="http://10.105.16.61:8080/ws.html?token=c123&autoplay=1" style="width:100%;height:100%;"></iframe>
					</div>
				</div>
			</div>
		</div>
    </ul>
</script>

<!--隐患排查与治理图览-->
<script type="text/html" id="templateHidden">

    <ul>
		<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1" data-toggle="tab">基本信息</a></li>
				<li><a href="#tab-2" data-toggle="tab">统计信息</a></li>
			</ul>
			<div style="padding-top: 20px; margin-right: 30px;">
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<table>
								<tr><td>监测设备名称：</td><td><%= data.equipment %></td></tr>
								<tr>
									<td>监测设备点简称：</td><td><%= data.equipment %></td>
								</tr>
								<tr><td>用区域名称：</td><td><%= data.equipment %></td></tr>
								
							</table>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
							<div class="panel-body">
								<div>工厂同类隐患发生次数：</div>
								<div id="main" style="width: 600px;height:400px;"></div>
								<div>区域内各类隐患分布：</div>
								<div id="mainYear" style="width: 600px;height:400px;"></div>
						    </div>
					</div>
				</div>
			</div>
		</div>
    </ul>
</script>

<!--添加边框编辑页-->
<script type="text/html" id="templateFrame">

    <ul>
		<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
	
			<div style="padding-top: 20px; margin-right: 30px;">
				<div class="tab-content">
					
						<div class="panel-body">
							<table>
								<tr><td>名称：</td><td>
									<input type='text' name='name' />
								</td></tr>
								<tr>
									<td>颜色：</td><td><div style="margin-left: 30px;">
										<form class="layui-form" action="">
										  <div class="layui-form-item">
											<div class="layui-input-inline" style="width: 120px;">
											  <input type="text" name='color' value="" placeholder="请选择颜色" class="layui-input" id="test-form-input">
											</div>
											<div class="layui-inline" style="left: -11px;">
											  <div id="test-form"></div>
											</div>
										  </div>
										</form>
									  </div></td>
								</tr>
								<tr><td>备注：</td><td><input type='text' name='remark' /></td></tr>
								
							</table>
							<div class='btn btn-default' id='save'>保存</div>
						</div>
				</div>
			</div>
		</div>
    </ul>
</script>

<script>
	// POI鼠标单击事件
	function getPOIByClick(){
		tmap.poiMouseEvent('click', function(info){
		   alert(JSON.stringify(info));
		   tmap.rmFeatureSelsct();
		});
	}
</script>

</body>
</html>