<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>懋特地图Demo</title>
<!-- 地图 -->
<link rel="stylesheet" type="text/css" href="http://47.103.35.78:8081/chem/css/map/ol.css" />
<link rel="stylesheet" type="text/css" href="http://47.103.35.78:8081/chem/css/map/ol3-base_3d.css" />
	<script src="http://47.103.35.78:8081/chem/js/global/jquery-2.1.1.min.js"></script>
	<script src="http://47.103.35.78:8081/chem/js/global/bootstrap.js"></script>
	<!-- 地图 -->
	<script src="http://47.103.35.78:8081/chem/js/map/map/ol-debug.js"></script>
	<script src="src/api_Common.js"></script>
	<script src="http://47.103.35.78:8081/chem/js/map/map/asset_style.js"></script>
	<script src="http://47.103.35.78:8081/chem/js/map/map/asset_init.js"></script>
	<script src="http://47.103.35.78:8081/chem/js/map/map/asset_base_fun.js"></script>
	<script src="src/Motemap2.js"></script>
	<script src="src/api_draw.js"></script>
	<script src="src/indextab.js"></script>
	<!-- 弹框 -->
	<script src="http://47.103.35.78:8081/chem/com/layer/layer.js"></script>
	<!--css-->
	<link href="src/bootstrap.min.css" rel="stylesheet" />
	<link href="src/framework-theme.css" rel="stylesheet" />

	<style>
.layui-layer{
background-color: white;
color: black;
		}
	</style>
</head>
<body>

<div id="map">
<div>
	<button onclick="getBuilding();">获取建筑编号</button>
	<button onclick="getFloor();">获取当前楼层</button>
	<button onclick="getZoom();">获取当前zoom</button>
	<button onclick="setLonLatByClick();">获取经纬度</button>
</div>
<div>
	<button onclick="getPOIByMoveon();">POI鼠标移入事件</button>
	<button onclick="getPOIByClick();">POI鼠标单击事件</button>
	<button onclick="getPOIByDblclick();">POI鼠标双击事件</button>
	<button onclick="getAreaByMoveon();">AREA鼠标移入事件</button>
	<button onclick="getAreaByClick();">AREA鼠标单击事件</button>
	<button onclick="getAreaByDblclick();">AREA鼠标双击事件</button>
	<button onclick="removeMouseEvent()">消除事件</button>
</div>
<div>
	<button onclick="drawPot();">标点</button>
	<button onclick="modifyPot();">修改点</button>
	<button onclick="deletePot();">删除点</button>
	<button onclick="drawArea();">标面</button>
	<button onclick="modifyArea();">修改面</button>
	<button onclick="deleteArea();">删除面</button>
</div>
</div>
<!--js-->
<script src="src/template.js"></script>
<script src="src/echarts.min.js"></script>
<!--可燃有毒气体监测图览template模版-->
<script type="text/html" id="template1">
    <ul>
		<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1" data-toggle="tab">基本信息</a></li>
				<li><a href="#tab-2" data-toggle="tab">监测信息</a></li>
				<li><a href="#tab-3" data-toggle="tab">历史报警数据</a></li>
			</ul>
			<div style="padding-top: 20px; margin-right: 30px;">
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<table>
								<tr><td>监测设备名称：</td><td><%= data.equipment %></td></tr>
								<tr><td>监测设备点简称：</td><td><%= data.equipment %></td></tr>
							</table>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
							<div class="panel-body">
									<table>
										<tr><td>监测点位号：</td><td><%= data.equipment %></td></tr>
										<tr><td>监测点数值：</td><td><%= data.equipment %></td></tr>
									</table>
								</div>
					</div>
					<div id="tab-3" class="tab-pane">
							<div class="panel-body">
									<table>
										<tr><td>上次报警时间：</td><td><%= data.equipment %></td></tr>
										<tr><td>今年报警次数：</td><td><%= data.equipment %></td></tr>
									</table>
								</div>
					</div>
				</div>
			</div>
		</div>
    </ul>
</script>
<!--重大危险源监控图层template模版-->
<script type="text/html" id="template2">

    <ul>
		<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1" data-toggle="tab">基本信息</a></li>
				<li><a href="#tab-2" data-toggle="tab">视频播放</a></li>
			</ul>
			<div style="padding-top: 20px; margin-right: 30px;">
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<table>
								<tr><td>监控名称：</td><td><%= data.equipment %></td></tr>
								<tr>
									<td>品牌：</td><td><%= data.equipment %></td>
									<td>型号：</td><td><%= data.equipment %></td>
								</tr>
								<tr><td>用途：</td><td><%= data.equipment %></td></tr>
								<tr><td>监测设备名称：</td><td><%= data.equipment %></td></tr>
							</table>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
						<iframe src="http://10.105.16.61:8080/ws.html?token=c123&autoplay=1" style="width:100%;height:100%;"></iframe>
					</div>
				</div>
			</div>
		</div>
    </ul>
</script>

<!--隐患排查与治理图览-->
<script type="text/html" id="template3">

    <ul>
		<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1" data-toggle="tab">基本信息</a></li>
				<li><a href="#tab-2" data-toggle="tab">统计信息</a></li>
			</ul>
			<div style="padding-top: 20px; margin-right: 30px;">
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<table>
								<tr><td>监测设备名称：</td><td><%= data.equipment %></td></tr>
								<tr>
									<td>监测设备点简称：</td><td><%= data.equipment %></td>
								</tr>
								<tr><td>用区域名称：</td><td><%= data.equipment %></td></tr>
								
							</table>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
							<div class="panel-body">
								<div>工厂同类隐患发生次数：</div>
								<div id="main" style="width: 600px;height:400px;"></div>
								<div>区域内各类隐患分布：</div>
						    </div>
					</div>
				</div>
			</div>
		</div>
    </ul>
</script>

<script>
 
 function testTemp(type)
 {
 // 准备好的数据源，可以是通过网络获取的json数据，也可以是通过ajax从后台拿到的数据
 var data = {name:"张三",sex:"女",equipment:"测试数据demo"};
 
 // 模板渲染
 var template1 = document.getElementById('template'+type).innerHTML;
 document.getElementById('templatelist'+type).innerHTML = template(template1,{data:data});

 
 }
   

 function layerOpen(type)
 {
	layer.open({
			title:null,
  type: 1,
  skin: 'layui-layer-rim', //加上边框
  area: ['620px', '340px'], //宽高
  content: '<div id="templatelist'+ type+'"></div>'
});

testTemp(type);
 }

 function layerOpen2(type)
 {
	layer.open({
  type: 2,
  area: ['700px', '450px'],
  fixed: false, //不固定
  maxmin: true,
  content: 'http://www.baidu.com'
});

testTemp(type);
 }
 
function initEChart()
{
 // 基于准备好的dom，初始化echarts实例
 var myChart = echarts.init(document.getElementById('main'));
 //var option=null;
  option = {
    xAxis: {
        type: 'category',
        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: [820, 932, 901, 934, 1290, 1330, 1320],
        type: 'line'
    }]
};
// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);
}

 
</script>

<script>

	// 初始化
	var tmap = new Mote.Map({
		target: "map",
		place: "61",
		building: 1,
		floor: "01",
		mode: "2d"
	})
	// 获取buildingid
	function getBuilding(){
		alert("建筑编号是：" + tmap.getBuilding());
	}
	// 获取floorid
	function getFloor(){
		alert("当前楼层是：" + tmap.getFloor());
	}
	// 获取zoom
	function getZoom(){
		alert("当前层级是：" + tmap.getZoom());
	}
	// 获取lonlat,click
	function setLonLatByClick(){
	
		tmap.getCoordByClick(function(coord){
		  	alert("lon: " + coord.lon + ", lat:" + coord.lat);
		});
		
	}
	//消除鼠标单击事件
	function removeMouseEvent()
	{
	   tmap.rmMouseEvent();
	}
	// POI鼠标移入事件
	function getPOIByMoveon(){
		tmap.poiMouseEvent('move', function(info){
		   alert(JSON.stringify(info));
		});
	}
	// POI鼠标单击事件
	function getPOIByClick(){
		tmap.poiMouseEvent('click', function(info){
		   alert(JSON.stringify(info));
		   layerOpen(1);
		});
	}
	// POI鼠标双击事件
	function getPOIByDblclick(){
		tmap.poiMouseEvent('dbclick', function(info){
		   alert(JSON.stringify(info));
		   layerOpen(2);
		});
	}
	// Area鼠标移入事件
	function getAreaByMoveon(){
		tmap.areaMouseEvent('move', function(info){
		    alert(JSON.stringify(info));
		});
	}
	// Area鼠标单击事件
	function getAreaByClick(){
		tmap.areaMouseEvent('click', function(info){
			alert(JSON.stringify(info));
			layerOpen(3);
			initEChart();
		});
	}
	// Area鼠标双击事件
	function getAreaByDblclick(){
		tmap.areaMouseEvent('dbclick', function(info){
		    alert(JSON.stringify(info));
			layerOpen(2);
		});
	}
  // 加载点
  tmap.loadPoint();
  // 加载面
  tmap.loadPolygon();
  // 新增点&保存
  function drawPot()
  {
	var info = {
	 name:'有毒汽体',
	 remarks:'这是一个测试点',
	 building_id:tmap.getBuilding(),
	 floor_id:tmap.getFloor(),
	 place_id:tmap.getPlace(),
	 type:12
	};
	tmap.drawPoint(info, function(e){
	 if(e == 1)
	   alert("标点成功");
	});
  }
  // 新增面&保存
  function drawArea(){
	var info = {
	 name:'红色区域',
	 remarks:'这是一个测试的区域',
	 building_id:tmap.getBuilding(),
	 floor_id:tmap.getFloor(),
	 place_id:tmap.getPlace(),
	 color:'#FF3030'
	};
	tmap.drawArea(info, function(e){
	 if(e == 1)
	   alert("绘制区域成功!");
	});
  }
  // 修改点&保存
  function modifyPot(){
	var info = {
	 name:'有毒汽体_修改',
	 remarks:'这是一个测试点',
	 building_id:tmap.getBuilding(),
	 floor_id:tmap.getFloor(),
	 place_id:tmap.getPlace(),
	 type:12
	};
	tmap.modifyPoint(info, function(e){
	 if(e == 1)
	   alert("修改点位成功");
	});
  }
  // 修改面&保存
  function modifyArea(){
	var info = {
	 name:'红色区域_修改',
	 remarks:'这是一个测试的区域',
	 building_id:tmap.getBuilding(),
	 floor_id:tmap.getFloor(),
	 place_id:tmap.getPlace(),
	 color:'#FF3030'
	};
	tmap.modifyArea(info, function(e){
	 if(e == 1)
	   alert("修改区域成功!");
	});
  }
  // 删除点
  function deletePot(){
	  tmap.getPointByClick(function(point){
	      layer.msg('确认删除？', {
				  time: 0 //不自动关闭
				  ,btn: ['确定', '取消']
				  ,yes: function(index){
				    layer.close(index);
					//删除点
					tmap.deletePoint(point);
				  }
			});
	  });
  }
  // 删除面
  function deleteArea(){
	 tmap.getAreaByClick(function(area){
	      layer.msg('确认删除？', {
				  time: 0 //不自动关闭
				  ,btn: ['确定', '取消']
				  ,yes: function(index){
				    layer.close(index);
					//删除点
					tmap.deleteArea(area);
				  }
			});
	  });
  }

  
</script>


</body>
</html>