<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>懋特地图Demo</title>
<!--47.103.35.78:8081 原测试地址-->
<!--10.109.75.228:8091 -->
<!-- 地图 -->
<link rel="stylesheet" type="text/css" href="http://10.109.75.228:8091/chem/css/map/ol.css" />
<link rel="stylesheet" type="text/css" href="http://10.109.75.228:8091/chem/css/map/ol3-base_3d.css" />
<script src="src/config.js"></script>
<!-- <script src="src/src_config.js"></script> -->
<script src="http://10.109.75.228:8091/chem/js/global/jquery-2.1.1.min.js"></script> 
<script src="http://10.109.75.228:8091/chem/js/global/bootstrap.js"></script>
	
<!-- 地图 -->
<script src="http://10.109.75.228:8091/chem/js/map/map/ol-debug.js"></script>
<script src="src/api_Common.js"></script>
<script src="http://10.109.75.228:8091/chem/js/map/map/asset_style.js"></script>
<script src="http://10.109.75.228:8091/chem/js/map/map/asset_init.js"></script>
<script src="http://10.109.75.228:8091/chem/js/map/map/asset_base_fun.js"></script>
<script src="src/Motemap.js"></script>
<!-- <script src="src/api_draw.js"></script> -->
<script src="src/api_PotArea.js"></script>
<script src="src/component/indextab.js"></script>
<!-- 弹框 -->
<script src="http://10.109.75.228:8091/chem/com/layer/layer.js"></script>

	<!--css-->
	<link href="src/component/bootstrap.min.css" rel="stylesheet" />
	<link href="src/component/framework-theme.css" rel="stylesheet" />
	<style>
.layui-layer{
background-color: white;
opacity:0.7;
color: black;
font-size: 16px;
}
		.rightMenu{
			list-style-type: none;
			padding: 0px;
			margin-left:40px;
			position:fixed; bottom:620px; left:0;
		}
		.rightMenu li{
background-color: white;
width:  30px !important;
height: 30px !important;
line-height: 30px;
padding: 5px;
		}
		.rightMenu li:hover{
background-color:skyblue;

		}
	</style>
</head>
<body>

<div id="map">
</div>
<!--右边按钮-->
<ul class="rightMenu btn-group-vertical">
	<li id="tpPoison" class="btn btn-default"  >
		<span class="glyphicon glyphicon-heart"></span>
	</li>
	<li id="tpDanger" class="btn btn-default" >
		<span class="glyphicon glyphicon-star"></span>
	</li>
	<li id="tpHidden" class="btn btn-default">
		<span class="glyphicon glyphicon-music"></span>
	</li>
</ul>
<!--js-->

<script src="src/component/template.js"></script>
<script src="src/component/echarts.min.js"></script>

<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
<script src="src/component/axios.min.js"></script>
<!-- <script src="src/oidc-client.js"></script> -->
<script src="src/http.js"></script>
<!-- <script src="src/axiosex.js"></script> -->


<!-- <script src="src/app.js"></script> -->

<!--可燃有毒气体监测图览template模版-->
<script type="text/html" id="templatePosion">
    <ul>
		<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1" data-toggle="tab">基本信息</a></li>
				<li><a href="#tab-2" data-toggle="tab">监测信息</a></li>
				<li><a href="#tab-3" data-toggle="tab">历史报警数据</a></li>
			</ul>
			<div style="padding-top: 20px; margin-right: 30px;">
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<table>
								<tr><td>监测设备名称：</td><td><%= data.equipment.equipmentName %></td></tr>
								<tr><td>监测设备点简称：</td><td><%= data.equipment.shortName %></td></tr>
							</table>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
							<div class="panel-body">
									<table>
										<tr><td>监测点位号：</td><td><%= data.tagName %></td></tr>
										<tr><td>监测点数值：</td><td></td></tr>
									</table>
								</div>
					</div>
					<div id="tab-3" class="tab-pane">
							<div class="panel-body">
									<table>
										<tr><td>上次报警时间：</td><td></td></tr>
										<tr><td>今年报警次数：</td><td></td></tr>
									</table>
								</div>
					</div>
				</div>
			</div>
		</div>
    </ul>
</script>
<!--重大危险源监控图层template模版-->
<script type="text/html" id="templateDanger">

    <ul>
		<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1" data-toggle="tab">基本信息</a></li>
				<li><a href="#tab-2" data-toggle="tab">视频播放</a></li>
			</ul>
			<div style="padding-top: 20px; margin-right: 30px;">
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<table>
								<tr><td>监控名称：</td><td><%= data.cameraName %></td></tr>
								<tr>
									<td>品牌：</td><td><%= data.cameraBrand %></td>
									<td>型号：</td><td><%= data.cameraType %></td>
								</tr>
								<tr><td>用途：</td><td>用途</td></tr>
								<tr><td>监测设备名称：</td><td><%= data.equipment.equipmentName %></td></tr>
							</table>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
						<iframe src="http://10.105.16.61:8080/ws.html?token=c123&autoplay=1" style="width:100%;height:100%;"></iframe>
					</div>
				</div>
			</div>
		</div>
    </ul>
</script>

<!--隐患排查与治理图览-->
<script type="text/html" id="templateHidden">

    <ul>
		<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1" data-toggle="tab">基本信息</a></li>
				<li><a href="#tab-2" data-toggle="tab">统计信息</a></li>
			</ul>
			<div style="padding-top: 20px; margin-right: 30px;">
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<table>
								<tr><td>监测设备名称：</td><td><%= data.equipment %></td></tr>
								<tr>
									<td>监测设备点简称：</td><td><%= data.equipment %></td>
								</tr>
								<tr><td>用区域名称：</td><td><%= data.equipment %></td></tr>
								
							</table>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
							<div class="panel-body">
								<div>工厂同类隐患发生次数：</div>
								<div id="main" style="width: 600px;height:400px;"></div>
								<div>区域内各类隐患分布：</div>
						    </div>
					</div>
				</div>
			</div>
		</div>
    </ul>
</script>

<script>
//获取sessionStorage
var storage = window.sessionStorage;  
var access_token = storage.getItem("access_token");  
console.log('sto..',storage);
console.log('access_token..',access_token);


//获取配置文件的ip
var ip = globalConfig.ip;

//浏览器当前窗口可视区域高度
 var h=$(window).height();

$('.leftMenu').css('bottom',h/2+'px');
$('.rightMenu').css('bottom',h/2+'px');

//填充弹窗内容
 async function fitContent(info)
 {
 // 准备好的数据源，可以是通过网络获取的json数据，也可以是通过ajax从后台拿到的数据
 
 var data = {name:"张三",sex:"男",equipment:"测试数据demo"};
 var template1='';
 
 if(info.type==globalConfig.poison)
 {
	// 模板渲染
    template1 = document.getElementById('templatePosion').innerHTML;
	var res=await getTagInfo(info.name);
	console.log(res);
	if(res.data.success&&res.data.data.length>0)
	{
		data=res.data.data.length>0?res.data.data[0]:{};
		if(data.equipment==null)
		data.equipment={equipmentName:'点位未关联主设备',shortName:''}
		
	}
	else{
		layer.alert('数据加载失败');
		return;
	}
 }
 else if(info.type==globalConfig.danger)
 {
	template1 = document.getElementById('templateDanger').innerHTML;
	var res=await getCameraInfo(info.name);
	if(res.data.success&&res.data.data.length>0)
	{
		data=res.data.data.length>0?res.data.data[0]:{};
		if(data.equipment==null)
		data.equipment={equipmentName:'点位未关联主设备',shortName:''}
	}
	else
	{
		layer.alert('数据加载失败');
		return;
	}
 }
 else if(info.type==globalConfig.hidden)
 {
	template1 = document.getElementById('templateHidden').innerHTML;
 }
 else if(info,type==globalConfig.risk){}
 else if(info,type==globalConfig.work){}
 else if(info,type==globalConfig.emer){}
 else if(info,type==globalConfig.position){}

 document.getElementById('templatelist'+info.type).innerHTML = template(template1,{data:data});

 if(info.type==globalConfig.hidden)
 initEChart();
  }
   

 function layerOpen(info)
 {
	 var area=['620px', '420px'];
	 if(info.type==globalConfig.poison)
area=['420px', '260px'];
	layer.open({
			title:null,
  type: 1,
  //skin: 'layui-layer-rim', //加上边框
  area:area, //宽高
  shade: 0,//阴影
  content: '<div id="templatelist'+ info.type+'"></div>',
  end: function () {
	removeFeatureSelsct();
      }
  });
  fitContent(info);
 }


function initEChart()
{
 // 基于准备好的dom，初始化echarts实例
 var myChart = echarts.init(document.getElementById('main'));
 //var option=null;
  option = {
    xAxis: {
        type: 'category',
        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: [820, 932, 901, 934, 1290, 1330, 1320],
        type: 'line'
    }]
};
// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);
}

 
</script>

<script>

	// 初始化
	var tmap = new Mote.Map({
		target: "map",
		place: "61",
			//place: "2",
		building: 1,
		floor: "01",
			//floor: "22",
		mode: "2d"
	})

  // 加载点
  tmap.loadPoint();
  // 加载面
  tmap.loadPolygon();

   // 加载透明面
   tmap.loadAlphaPolygon();

// //消除鼠标单击事件
// function removeMouseEvent()
// 	{
// 	   tmap.rmMouseEvent();
// 	}
//消除要素选中状态
function removeFeatureSelsct(){
	   tmap.rmFeatureSelsct();
}
  // 根据坐标加载地图
  function loadMapByLonLat(){
	var lon = 119.02492270,lat = 33.38843574;
	var ret = tmap.loadMap(lon, lat,function(e){
		 if(e == 1)
		alert("加载成功");
	});
  }
  // 定位点显示
  function loadLocate(){
	var locators = [{
		bid:'233',
		placeId:'61',
		buildingId:1,
		floorId:'01',
		lon:119.02492270,
		lat:119.38843574
	} ];
	var ret = tmap.loadLocators(locators,function(e){
		 if(e == 1)
		alert("加载成功");
	});
  }
  // 定位点鼠标移入
  function getLocateByMoveon(){
		tmap.locatorMouseEvent('move', function(info){
		   alert(JSON.stringify(info));
		});
	}
  // 根据类型加载POI，示例：加载type=12的poi
  function getPOIByType(tp){
	var filter = {
		type:tp
	};
	// 删除全部pot图层
	// tmap.rmPoint();
	// 根据type加载pot图层
	tmap.loadPointByType(filter,function(e){
		//if(e == 1)
			//alert("加载成功");
		});
	}
	//

	// 根据坐标和层级加载地图
	function loadMapByLonLatZoom(){
	var lon = 119.02492270,lat = 33.38843574,zoom = 17;// minZoom 15,maxZoom 24
	var ret = tmap.loadMap(lon, lat,zoom,function(e){
		//  if(e == 1)
		// alert("加载成功");
	});
  }
  loadMapByLonLatZoom();
  $('#tpPoison').click(function(){

	getPOIByType(globalConfig.poison);
  });
  $('#tpDanger').click(function(){

getPOIByType(globalConfig.danger);
});
$('#tpHidden').click(function(){

getPOIByType(globalConfig.hidden);
});

function getPOIByClickReal(){
		tmap.poiMouseEvent('click', function(info){
			console.log(info);
		   layerOpen(info);
		});
	}
	getPOIByClickReal();

//根据参数加载点位
var req=GetRequest();
if(req['tp'])
{
	getPOIByType(req['tp']);
}
</script>


</body>
</html>