<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Gis地图</title>
<!--47.103.35.78:8081 原测试地址-->
<!--192.168.18.3:8091 -->
<!-- 地图 -->
<link rel="stylesheet" type="text/css" href="http://192.168.18.3:8091/chem/css/map/ol.css" />
<link rel="stylesheet" type="text/css" href="http://192.168.18.3:8091/chem/css/map/ol3-base_3d.css" />
<link rel="stylesheet" type="text/css" href="../src/page.css" />
<script src="../src/config.js"></script>
<script src="../src/src_config.js"></script>
<!-- <script src="http://10.109.75.228:8091/chem/js/global/jquery-2.1.1.min.js"></script>  -->
<script src="../src/component/jquery/jquery-2.1.1.min.js"></script>
<!-- <script src="http://10.109.75.228:8091/chem/js/global/bootstrap.js"></script> -->
	
<!-- 地图
<script src="http://10.109.75.228:8091/chem/js/map/map/ol-debug.js"></script>
<script src="src/api_Common.js"></script>
<script src="http://10.109.75.228:8091/chem/js/map/map/asset_style.js"></script>
<script src="http://10.109.75.228:8091/chem/js/map/map/asset_init.js"></script>
<script src="http://10.109.75.228:8091/chem/js/map/map/asset_base_fun.js"></script>
<script src="src/Motemap.js"></script>

<script src="src/api_PotArea.js"></script>-->
<script src="../src/component/indextab.js"></script>
<script src="../src/component/layer/layer.js"></script> 
<!-- <script src="http://47.103.35.78:8081/chem/com/layer/layer.js"></script>  -->

<!--css-->
<link href="../src/component/bootstrap.min.css" rel="stylesheet" />
<link href="../src/component/framework-theme.css" rel="stylesheet" />
<link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.8.8/skins/default/aliplayer-min.css" />
<script type="text/javascript" charset="utf-8"
  src="https://g.alicdn.com/de/prismplayer/2.8.8/aliplayer-min.js"></script>
<style>

</style>
</head>
<body>
<div id="map">
</div>
<!--左边按钮-->
<div id='fix'>
	<!-- <ul class="rightMenu btn-group-vertical hidden">
		<li id="tpPoison" class="btn btn-default"  >
			<span class="glyphicon glyphicon-heart"></span>
		</li>
		<li id="tpDanger" class="btn btn-default" >
			<span class="glyphicon glyphicon-star"></span>
		</li>
		<li id="tpHidden" class="btn btn-default">
			<span class="glyphicon glyphicon-music"></span>
		</li>
	</ul> -->
	<ul class="leftMenu btn-group-vertical">
		<li id="layer-select" class="btn btn-default"  >
			<span class="glyphicon glyphicon-retweet"></span>
		</li>
	</ul>
	<ul class="layer-select btn-group-vertical">
		<li class="poison-li">
			<input  type="checkbox" name="poison" value=""/>有毒
		</li>
		<li class="poison-li">
			<input  type="checkbox" name="fire" value=""/>可燃
		</li>
		<li>
			<input  type="checkbox" name="in" value=""/>内部
		</li>
		<li>
			<input  type="checkbox" name="out" value=""/>外部
		</li>
	</ul>
</div>
<div id="reset" class="btn btn-default hidden">一键重置</div>
<div id="clear" class="btn btn-default hidden">一键清除</div>
<!--js-->

<script src="../src/component/template.js"></script>
<script src="../src/component/echarts.min.js"></script>
<script src="../src/component/flv.min.js"></script>
<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
<script src="../src/component/axios.min.js"></script>
<!-- <script src="src/oidc-client.js"></script> -->
<script src="../src/http.js"></script>
<!-- <script src="src/axiosex.js"></script> -->


<!-- <script src="src/app.js"></script> -->

<!--template模版-->
<script type="text/html" id="templatePosition">
    <ul>
		<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1" data-toggle="tab">基本信息</a></li>
				<li><a href="#tab-2" data-toggle="tab">扩展信息</a></li>
			</ul>
			<div style="padding-top: 20px; margin-right: 30px;">
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<table>
								<tr><td>监测设备名称：</td><td><%= data.equipment.equipmentName %></td></tr>
								<tr><td>监测设备点简称：</td><td><%= data.equipment.shortName %></td></tr>
							</table>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
						<div class="panel-body">
							<table>
								<tr><td>监测点位号：</td><td><%= data.tagName %></td></tr>
								<tr><td>监测点数值：</td><td></td></tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
    </ul>
</script>
<!--可燃有毒气体监测图览template模版-->
<script type="text/html" id="templatePoison">
    <ul>
		<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1" data-toggle="tab">基本信息</a></li>
				<li><a href="#tab-2" data-toggle="tab">监测信息</a></li>
				<li><a href="#tab-3" data-toggle="tab">历史报警数据</a></li>
			</ul>
			<div style="padding-top: 20px; margin-right: 30px;">
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<table class="table table-striped">
								<tr><td>监测设备名称：</td><td><%= data.equipment.equipmentName %></td></tr>
								<tr><td>监测设备点简称：</td><td><%= data.equipment.shortName %></td></tr>
								<tr><td>区域名称：</td><td><%= data.equipment.org.orgName %></td></tr>
								<!-- <tr><td>区域类型</td><td><%= data.equipment.org.orgType %></td></tr> -->
							</table>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
							<div class="panel-body">
								<table class="table table-striped">
									<tr><td>监测点位号：</td><td><%= data.tagName %></td></tr>
									<tr><td>监测点数值：</td><td></td></tr>
								</table>
							</div>
					</div>
					<div id="tab-3" class="tab-pane">
						<div class="panel-body">
								<table>
									<tr><td>上次报警时间：</td><td></td></tr>
									<tr><td>今年报警次数：</td><td></td></tr>
								</table>
						</div>
					</div>
				</div>
			</div>
		</div>
    </ul>
</script>
<!--重大危险源监控图层template模版-->
<script type="text/html" id="templateDanger">

    <ul>
		<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1" data-toggle="tab">基本信息</a></li>
				<li><a href="#tab-2" data-toggle="tab">视频播放</a></li>
			</ul>
			<div style="padding-top: 20px; margin-right: 30px;">
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<table class="table table-striped">
								<tr><td>监控名称：</td><td><%= data.cameraName %></td></tr>
								<tr>
									<td>品牌：</td><td><%= data.cameraBrand %></td>
								</tr>
								<tr><td>型号：</td><td><%= data.cameraType %></td></tr>
								<!-- <tr><td>用途：</td><td>未指定</td></tr> -->
								<tr><td>监测设备名称：</td><td><%= data.equipment.equipmentName %></td></tr>
							</table>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
						<!-- <div id="player-flv"></div> -->
						<div class="mainContainer" id="mainContainer" style="width: 100%;">
							<video name="videoElement" class="centeredVideo" id="videoElement"  playsinline="true"  style="width: 100%;height:100%;object-fit: fill;" autoplay>
								Your browser is too old which doesn't support HTML5 video.
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
    </ul>
</script>
<!--隐患排查与治理图览-->
<script type="text/html" id="templateHidden">

    <ul>
		<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1" data-toggle="tab">基本信息</a></li>
				<li><a href="#tab-2" data-toggle="tab">统计信息</a></li>
			</ul>
			<div style="padding-top: 20px; margin-right: 30px;">
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<table class="table table-striped">
								<tr><td>监测设备名称：</td><td>未指定</td></tr>
								<tr>
									<td>监测设备点简称：</td><td>未指定</td>
								</tr>
								<tr><td>区域名称：</td><td><%= data.equipment %></td></tr>
								
							</table>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
							<div class="panel-body">
								<!-- <div>工厂同类隐患发生次数：</div> -->
								<div id="main" style="width: 600px;height:400px;"></div>
								<!-- <div>区域内各类隐患分布：</div> -->
								<div id="mainYear" style="width: 600px;height:400px;"></div>
						    </div>
					</div>
				</div>
			</div>
		</div>
    </ul>
</script>
<!--应急物资-->
<script type="text/html" id="templateEmer">
    <ul>
		<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1" data-toggle="tab">基本信息</a></li>
				<!-- <li><a href="#tab-2" data-toggle="tab">统计信息</a></li> -->
			</ul>
			<div style="padding-top: 20px; margin-right: 30px;">
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<table class="table table-striped">
								<tr><td>组织：</td><td><%= data.Organization %></td></tr>
								<tr>
									<td>位置：</td><td><%= data.Address %></td>
								</tr>
								<tr><td>单位：</td><td><%= data.Unit %></td></tr>
								<tr><td>补给：</td><td><%= data.Supplies %></td></tr>
								<tr><td>库存：</td><td><%= data.Stocks %></td></tr>
								<tr><td>材质：</td><td><%= data.Principal %></td></tr>
								<tr><td>注册人：</td><td><%= data.RegPerson %></td></tr>
								<tr><td>注册日期：</td><td><%= data.RegDate %></td></tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
    </ul>
</script>
<!--作业许可-->
<script type="text/html" id="templateWork">
    <ul>
		<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1" data-toggle="tab">基本信息</a></li>
				<!-- <li><a href="#tab-2" data-toggle="tab">统计信息</a></li> -->
			</ul>
			<div style="padding-top: 20px; margin-right: 30px;">
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<h4>基础信息</h4>
							<table class="table table-striped">
								<tr>
									<td>作业名称</td>
									<td><%= data.Name %></td>
									<td>操作</td>
									<td><%= data.Operation %></td>
								</tr>
								<tr>
									<td>作业区域</td>
									<td><%= data.AreaName %></td>
									<td>作业负责人</td>
									<td><%= data.JobLeaderx %></td>
								</tr>
								<tr>
									<td>开始时间</td>
									<td><%= data.Timestrat %></td>
									<td>结束时间</td>
									<td><%= data.Timeend %></td>
								</tr>
							</table>
							<h4>人员清单</h4>
							<table class="table table-striped">
								<tr>
								<th>人员ID</th>
								<th>人员姓名</th>
								</tr>
								<%for(var i = 0; i < data.Perlist.length; i++) {%>
									<tr>
										<td><%:=data.Perlist[i].oid%></td>
										<td><%:=data.Perlist[i].name%></td>
									</tr>
									<%}%>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
    </ul>
</script>
</body>
</html>