/*基础控件*/
ul{
    list-style-type: none;
    padding: 0px;
}
/*基础图层*/
.layui-layer{
    background-color: white;
    opacity:0.9;
    color: black;
    font-size: 10px;
}
.t-body{
    margin-left: 10px;

}
/*左边功能栏位*/
#fix{
    position:fixed; bottom:620px; left:0;
    margin-left:40px;
}
.rightMenu li,.leftMenu li{
    background-color: white;
    width:  30px !important;
    height: 25px !important;
    line-height: 25px;
    padding: 5px;
}
.rightMenu li:hover,.leftMenu li:hover{
    background-color:skyblue;
}
.layer-select{
    position: relative;
    top:0px;
    left: 5px;
    border:1px solid skyblue;
    border-radius:5px;
    padding: 5px;
    background-color: skyblue;
    display: none;
}
.layer-select li{
    float: left;
    margin:0px 10px 0px 10px;
}
/*一键重置*/
#reset{
    position:fixed; top:10px; left:100px;
}
/*一键清除*/
#clear{
    position:fixed; top:10px; left:10px;
}
/*一键清除*/
#point{
    position:fixed; top:10px; left:190px;
}
/*返回上一页*/
#point{
    position:fixed; top:10px; left:10px;
}
/*图片大小*/
.alarm-img{
    width: 14px;
    position: relative;
    top:-5px;
}
#layer-select{
    padding-bottom: 10px !important;

}